* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  background-color: #323333;
  color: #d3dad8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-section {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto 13px auto;
  width: 50%;
}
